<h3>Detalles de la Factura</h3>


<p-table [value]="facturDetallePorCabeceraAmostrar">
    <ng-template pTemplate="header">
      <!-- tr -> table row  -->
      <tr>
        <!-- th -> table header  -->
        <th> Item</th>
        <th> Cantidad </th>
        <th> Precio </th>
        <th> Total </th>
  
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-factura>
      <tr>
        <td> {{factura.item}}</td>
        <td>{{factura.cantidad}}</td>
        <td>{{factura.precio}}</td>
        <td>{{factura.total}}</td>
        
      </tr>
    </ng-template>
  </p-table>
