
<div class="card bg-light text-dark">
    <div class="card-body">
      <h4 class="card-title">{{medicamento.nombre_medicamento}}</h4>
      <p class="card-text">

          gramos: {{medicamento.gramos_ingerir}} <br>
          composicion: {{medicamento.composicion}} <br>
          usado para: {{medicamento.usado_para}} <br>
          fecha de caduciad: {{medicamento.fecha_caducidad}} <br>
          numero de pastillas: {{medicamento.numero_pastillas}} <br>
          
      </p>
   
    </div>
  </div>