<div class="row">
    
  <div class="col-md-4">
      
    <h3><br></h3>
  </div>
  <div class="col-md-4">
    <br>
      <label style="font-size:25px">Regístrate aquí</label>
    <div>
      <app-formulario-usuario [usuario]="usuarioAcrear" [nombreBoton]="'Registrarse'"
        (formularioValido)="registrarUsuario($event)">
      </app-formulario-usuario>
      <br>
      <button pButton type="button" label="Cancelar" class="ui-button-rounded ui-button-warning"
        (click)="irLoginCancel()"></button>

        <button pButton type="button" label="Ir a home sin registrarme  =>" [routerLink]="['/home']"
            class="ui-button-rounded ui-button-warning"></button>
    </div>
  </div>
</div>