<br>
<div class="p-grid">
  <div class="p-md-6 p-lg-4"></div>
  <div class="p-md-6 p-lg-4">
    <br>
    <label style="font-size:25px">REGISTRO</label>
  </div>
  <div class="p-md-6 p-lg-4"></div>
</div>

<div class="p-grid">
  <div class="p-md-6 p-lg-4"></div>
  <div class="p-md-6 p-lg-4">
    <br>
    <span class="ui-float-label">
      <input id="nombre" type="text" size="32" [(ngModel)]="nombreReg" name="nombre" pInputText>
      <label for="nombre">Nombre</label>
    </span>
    <br>
    <span class="ui-float-label">
      <input id="correo" type="email" size="32" [(ngModel)]="correoReg" Validators.email  name="correo" pInputText>
      <label for="correo">Correo</label>
    </span>
    <br>
    <span class="ui-float-label">
      <input id="pass" type="password" size="32" [(ngModel)]="passReg" name="pass" pInputText>
      <label for="pass">Contraseña</label>
    </span>
    <br>
    <span class="ui-float-label">
      <input id="born" type="date" size="32" [(ngModel)]="fecha_nacimientoReg" name="fecha" pInputText>
      <label for="born">Fecha nacimiento</label>
    </span>
  </div>
  <div class="p-md-6 p-lg-4"></div>
</div>

<div class="p-grid">
  <div class="p-md-6 p-lg-4"></div>
  <div class="p-md-6 p-lg-4">
    <br>
    <div class="p-grid">
      <div class="p-md-4 p-lg-4">
        <button pButton type="button" label="Registrarse" class="ui-button-rounded" (click)="irLogin()"></button>
      </div>
      <div class="p-md-4 p-lg-4">
        <button pButton type="button" label="Cancelar" class="ui-button-rounded ui-button-danger" (click)="irLoginCancel()"></button>
      </div>
      <div class="p-md-4 p-lg-4"></div>
    </div>
  </div>
  <div class="p-md-6 p-lg-4"></div>
</div>
