<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>


</head>

<body>



  <div class=row>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">

      <h3>
        Añadir Item
      </h3>

      <div>
        <br>
        <label for="selectMedicamentoEnevento">Seleccione Hijo: </label>
        <select style="color: hsl(207, 51%, 60%)" [(ngModel)]="pruebaSrt" (ngModelChange)='hijoSeleccionadoComboBox($event)'
          id="selectMedicamentoEnevento">
          <option value={{m.id}} *ngFor="let m of medicamentosamostrar">{{m.nombre_medicamento}}</option>
        </select>


      </div>

      <br>
      <div>
        <span class="ui-float-label">

          <input size="30" class="selcls" pInputText id="precio" required type="number" name="precio" min="0"
            [(ngModel)]="eventoMedicamentoSeleccionado.precio_base" #inputNombre="ngModel">

          <label for="precio">Precio Acordado</label>
        </span>
      </div>
      <br>
      <div>
        <span class="ui-float-label">

          <input size="30" pInputText id="precio" required type="number" name="precio" min="0"
            [(ngModel)]="facturadetalle.cantidad" #inputNombre="ngModel">

          <label for="precio">Cantidad</label>
        </span>
      </div>
      <div>
        <br>
        <div class="ui-g ui-fluid">
          <div class="ui-md-2"></div>
          <div class="ui-md-8">
            <button pButton type="button" label="Añadir Item" (click)="anadirItem()"></button>
          </div>
          <div class="ui-md-1"></div>
        </div>
      </div>


    </div>

  </div>

</body>

</html>