<h6>Crear Cabecera</h6>

<form #formularioCrearCabecera="ngForm" novalidate (submit)="emitirFormularioValido(formularioCrearCabecera)">

  <p *ngIf="formularioCrearCabecera.invalid">

    <ngb-alert [dismissible]="false" *ngIf="controlNombre.touched && controlNombre.invalid">
      <strong>Errores Nombre! </strong> <span>{{controlNombre.errors | json}}</span>
    </ngb-alert>
    <ngb-alert [dismissible]="false" *ngIf="caontrolCedula.touched && caontrolCedula.invalid">
      <strong>Errores CEdula! </strong> <span>cedula incorrecta</span>
    </ngb-alert>
    <ngb-alert [dismissible]="false" *ngIf="controlTelefono.touched && controlTelefono.invalid">
      <strong>Errores Telefono! </strong> <span>Ej: 0998065192</span>
    </ngb-alert>
    <ngb-alert [dismissible]="false" *ngIf="controlDireccion.touched && controlDireccion.invalid">
      <strong>Errores Direccion! </strong> <span>{{controlDireccion.errors | json}}</span>
    </ngb-alert>
    <ngb-alert [dismissible]="false" *ngIf="controlCorreo.touched && controlCorreo.invalid">
      <strong>Errores Correo! </strong> <span>{{controlCorreo.errors | json}}</span>
    </ngb-alert>
    <ngb-alert [dismissible]="false" *ngIf="controlFecha.touched && controlFecha.invalid">
      <strong>Errores Fecha! </strong> <span>{{controlFecha.errors | json}}</span>
    </ngb-alert>
    <ngb-alert [dismissible]="false" *ngIf="controlFecha.touched && controlFecha.invalid">
      <strong>Errores Fecha! </strong> <span>{{controlFecha.errors | json}}</span>
    </ngb-alert>


  </p>


  <div>
    <span class="ui-float-label">

      <input size="30" pInputText id="nombre" required type="text" name="nombre"
        [(ngModel)]="facturaCabeceraObtenida.nombre_factura" #controlNombre="ngModel">

      <label for="nombre">Nombre factura</label>
    </span>
  </div>

  <br>
  <div>
    <span class="ui-float-label">

      <input size="30" pInputText id="cedula" required type="text" name="cedula" maxlength="10" minlength="10"
        [(ngModel)]="facturaCabeceraObtenida.cedula_factura" #caontrolCedula="ngModel">

      <label for="cedula">Cedula</label>
    </span>
  </div>

  <br>

  <div>
    <span class="ui-float-label">

      <input size="30" pInputText id="telefono" required type="text" name="telefono"  maxlength="10" minlength="10"
        [(ngModel)]="facturaCabeceraObtenida.telefono_factura" #controlTelefono="ngModel">

      <label for="telefono">Telefono Celular</label>
    </span>
  </div>

  <br>

  <div>
    <span class="ui-float-label">

      <input size="30" pInputText id="direccion" required type="text" name="direccion"  minlength="10"
        [(ngModel)]="facturaCabeceraObtenida.direccion_factura" #controlDireccion="ngModel">

      <label for="direccion">direccion</label>
    </span>
  </div>



  <br>
  <div>
    <span class="ui-float-label">

      <input size="30" pInputText id="correo" required email type="email" name="correo"
        [(ngModel)]="facturaCabeceraObtenida.correo_factura" #controlCorreo="ngModel">

      <label for="correo">correo</label>
    </span>
  </div>

  <br>
  <div>
    <span class="ui-float-label">

      <input size="30" pInputText id="fecha" required type="date" name="fecha"
        [(ngModel)]="facturaCabeceraObtenida.fecha_factura" #controlFecha="ngModel">

      <label for="fecha">fecha factura</label>
    </span>
  </div>

  <br>
  <div>
    <span class="ui-float-label">

      <input size="30" pInputText id="total" required type="number" name="total"
        [(ngModel)]="facturaCabeceraObtenida.total_factura" #controlTotal="ngModel">

      <label for="total">total factura</label>
    </span>
  </div>


  <br>

  <button type="submit" label={{nombreBoton}} class="ui-button-success" pButton [disabled]="formularioCrearCabecera.invalid">

  </button>
  <button pButton type="reset" class="ui-button-danger" label="Borrar Todo">
  </button>
</form>