<form #formularioCrearPadre="ngForm" novalidate (submit)="emitirFormularioValido(formularioCrearPadre)">


  <p *ngIf="formularioCrearPadre.invalid">

    <ngb-alert [dismissible]="false" *ngIf="controlNombre.touched && controlNombre.invalid">
      <strong>Errores Nombre! </strong> <span>{{controlNombre.errors | json}}</span>
    </ngb-alert>

    <ngb-alert [dismissible]="false" *ngIf="controlApellido.touched && controlApellido.invalid">
      <strong>Errores Apellido! </strong> <span>{{controlApellido.errors | json}}</span>
    </ngb-alert>

    <ngb-alert [dismissible]="false" *ngIf="controlSeguro.touched && controlSeguro.invalid">
      <strong>Errores Seguro! </strong> <span>Ingrese si o no. Ej: si</span>
    </ngb-alert>



  </p>




  <div>
    <span class="ui-float-label">

      <input size="30" pInputText id="nombre" required type="text" name="nombre"
        [(ngModel)]="pacienteObtenido.nombre_paciente" #controlNombre="ngModel">

      <label for="nombre">Nombre Paciente</label>
    </span>
  </div>

  <br>

  <div>
    <span class="ui-float-label">

      <input size="30" pInputText id="apellido" required type="text" name="apellido"
        [(ngModel)]="pacienteObtenido.apellido_paciente" #controlApellido="ngModel">

      <label for="apellido">apellido paciente</label>
    </span>
  </div>

  <br>
  <div>
    <span class="ui-float-label">

      <input size="30" pInputText id="fecha" required type="date" name="fecha"
        [(ngModel)]="pacienteObtenido.fecha_naciemiento_paciente" #inputNombre="ngModel">

      <label for="fecha">fecha nacimiento paciente</label>
    </span>
  </div>
  <br>
  <div>
    <span class="ui-float-label">

      <input size="30" pInputText id="hijos" required type="number" name="hijos" min="0"
        [(ngModel)]="pacienteObtenido.hijos_paciente" #inputNombre="ngModel">

      <label for="hijos">hijos paciente</label>
    </span>
  </div>
  <br>

  <div>
    <span class="ui-float-label">

      <input size="30" pInputText id="seguro" required type="text" name="seguro" pattern="si|no"
        [(ngModel)]="pacienteObtenido.seguro_paciente" #controlSeguro="ngModel">

      <label for="seguro">seguro paciente</label>
    </span>
  </div>



  <button type="submit" label={{nombreBoton}} pButton [disabled]="formularioCrearPadre.invalid">

  </button>
  <button pButton type="reset" class="ui-button-danger" label="Borrar Todo">
  </button>
</form>